.block-ellipsis-detalle {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    text-align: justify;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
.imagenGaleria{
  min-height: 400px;
}