<div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <label>Nombre del Atractivo a buscar</label>
                    <input name="nombre" (keydown)="buscar($event)" class="form-control form-control-line" placeholder="" type="text">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<div class="row">

    <div class="col-lg-3 col-md-6" *ngFor="let atractivo of listaAtractivos | paginate: { itemsPerPage: 4, currentPage: pagina } ;let i = index">
        <!-- Card -->
        <div class="card">
            <div id="carouselExampleControls{{i}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item" [ngClass]="{active: first}" *ngFor="let img of atractivo.galeria ;let x = index;let first = first">
                        <img class="d-block w-100 img-atractivo" src="{{img.imagenURL || 'http://www.ccsa.edu.sv/assets/camaleon_cms/image-not-found-26112ee47503d45cff89e808e1d1a5f7.png'}} "
                            alt="{{estilo[x]}}">

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls{{i}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls{{i}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">
                        <span class="lstick"></span>{{atractivo.nombre}}</h4>
                    <!-- <span class="badge badge-success">9</span> -->
                    <div class="btn-group ml-auto m-t-10">
                        <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="javascript:void(0)">AR</a>
                            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/detalle-atractivo', atractivo.key ]">Detalle</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="eliminar(atractivo.key,atractivo.nombre, atractivo.galeria)">Eliminar</a>

                        </div>
                    </div>
                </div>
                <ngb-rating [(rate)]="atractivo.rating"></ngb-rating>
                <pre>Calificación: <b>{{atractivo.rating}}</b></pre>
                <p class="card-text block-ellipsis">{{atractivo.descripcion}}</p>


            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
</div>
<div class="row">
        <div class="col-md-12" align="center">
          <pagination-controls class="pagination pagination-sm" style="display: block;" (pageChange)="pagina = $event"
          directionLinks="true" maxSize="5" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>