<div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div>
          <label>Nombre del personaje a buscar</label>
          <input name="nombre" (keydown)="buscar($event)" class="form-control form-control-line" placeholder="" type="text">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row -->
<div class="row">
  <div class="col-lg-3 col-md-6" *ngFor="let personaje of listaPersonajes ;let i = index;">
    <!-- Card -->
    <div class="card">
      <div id="carouselExampleControls{{i}}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{active: first}" *ngFor="let img of personaje.galeria ;let x = index;let first = first">
            <img class="d-block w-100 img-atractivo" src="{{img.imagenURL || 'http://www.ccsa.edu.sv/assets/camaleon_cms/image-not-found-26112ee47503d45cff89e808e1d1a5f7.png'}} "
              alt="{{estilo[x]}}">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls{{i}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls{{i}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{personaje.nombre}}</h4>
        <div aling="center">
          <div class="button-group">
            <a href="#" class="btn btn-primary" [routerLink]="['/detalle-personaje', personaje.key ]">Detalle</a>
            <button class="btn btn-danger" (click)="eliminar(personaje.key, personaje.nombre, personaje.galeria)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
</div>