.block-ellipsis-detalle {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 400px;
    text-align: justify;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
  }
.imagenGaleria{
  min-height: 400px;
}

.green {
  color:white;
  font-weight: bold;
  background-color: rgba(6, 215, 156, 0.7); 
}
.red{
  color:white;
  font-weight: bold;
  background-color:rgba(246, 57, 54, 0.7);
}
.blue {
  color:white;
  font-weight: bold;
  background-color: rgba(57, 139, 247, 0.7);
}