<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre del Atractivo</th>
        <th scope="col">Ranking</th>
        <th scope="col">Numero de Visitas</th>
        <th scope="col">Detalle visitas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atractivo of listatractivos; let i = index">
        <td >{{i}}</td>
        <td>{{atractivo.nombre}}</td>
        <td>{{atractivo.rating}}</td>
        <td>{{atractivo.numeroVisitas}}</td>
        <td><button type="button" class="btn btn-primary">Detalle</button></td>

      </tr>
      
    </tbody>
  </table>
  
      </div>
    </div>
  </div>
</div>

  