<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Nombre del Atractivo</th>
              <th scope="col">Ranking</th>
              <th scope="col">N° Visitas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let atractivo of listatractivos| paginate: { itemsPerPage: 6, currentPage: pagina }; let i = index">
              <td>{{i}}</td>
              <td>{{atractivo.nombre}}</td>
              <td>{{atractivo.rating}}</td>
              <td>{{atractivo.numeroVisitas}}</td>
              <td>
                <div class="btn-group ml-auto m-t-10">
                  <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/detalle-atractivo', atractivo.key ]">Ir al sitio</a>
                    <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/crear-atractivo', atractivo.key ]">Editar sitio</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="open(content,atractivo.listaVisitantes,atractivo.key)">Detalle visitas</a>

                  </div>
                </div>
              </td>

            </tr>



          </tbody>
        </table>

     
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12" align="center">
        <pagination-controls class="pagination pagination-sm" style="display: block;" (pageChange)="pagina = $event" directionLinks="true"
            maxSize="5" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>


<!-- ============================================= -->
<!--        Modal de clientes                      -->
<!-- ============================================= -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalle de visitas</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="table-responsive m-t-20">
          <table class="table vm no-th-brd no-wrap pro-of-month">
            <thead>
              <tr>
                <th colspan="2">Cliente</th>
                <th>Email</th>
                <th>N° visitas</th>
                <th>Ultima Visita</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of listaVisitantesObject  ; let i = index">
                <td style="width:50px;">
                  <span class="round">
                    <img src="{{cliente.pathImagen}}" alt="user" width="50">
                  </span>
                </td>
                <td>
                  <h6>{{cliente.nombre}}</h6>
                  <small class="text-muted">Cliente</small>
                </td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.numeroAtractivosVisitados}}</td>
                <td>
                  
                    {{cliente.ultimaVisita | date: 'dd/MM/yyyy'}}
                  
                </td>
                
              </tr>




            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Salir</button>
  </div>
</ng-template>