

/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}
.w150{
    width: 200px;
}

.imgRedonda_shared {
    width:35px;
    height:35px;
    border-radius:150px;
}

.imgRedonda_shared_sidebar {

    height:27px;
    border-radius:150px;
}
agm-map {
    height: 500px;
  }
.fondo-negro{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.oculto{
    display: none;
}
.textoFile{
  
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 

    
}