/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}
.w150{
    width: 200px;
}

.imgRedonda_shared {
    width:35px;
    height:35px;
    border-radius:150px;
}

.imgRedonda_shared_sidebar {

    height:27px;
    border-radius:150px;
}
agm-map {
    height: 500px;
  }