<div>
    <div class="col-12" *ngIf="!spiner">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Datos principales</h4>
            </div>
            <div class="card-body " style="margin: 20px;">
                <h4 class="card-title">Formulario para registrar un atractivo turistico</h4>
                <h6 class="card-subtitle">Cotopaxi - Latacunga</h6>
                <form class="form-material m-t-40" [formGroup]="frmRegistro" ngNativeValidate>
                    <div class="form-group">
                        <label>Nombre del atractivo</label>
                        <input name="nombre" formControlName="nombre" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.nombre.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Alias</label>
                        <input name="alias" formControlName="alias" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.alias.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>

                    <div class="form-group">
                            <label>Categoria</label>
                            <select class="form-control" formControlName="categoria" name="categoria">
                                <option *ngFor="let opcion of categoriaAtractivos " >{{opcion}}</option>
                            </select>
                            <span class="help-block text-muted" *ngIf="frmRegistro.controls.categoria.errors">
                                <small>
                                    <p class="text-danger">
                                        El campo es requerido
                                    </p>
                                </small>
                            </span>
                    </div>
                    <div class="form-group">
                            <label>Tipo</label>
                            <select class="form-control" formControlName="tipo" name="tipo">
                                <option *ngFor="let opcion of tipoAtractivo " >{{opcion}}</option>
                            </select>
                            <span class="help-block text-muted" *ngIf="frmRegistro.controls.tipo.errors">
                                <small>
                                    <p class="text-danger">
                                        El campo es requerido
                                    </p>
                                </small>
                            </span>
                    </div>
                    <div class="form-group">
                            <label>Subtipo</label>
                            <select class="form-control" formControlName="subtipo" name="subtipo">
                                <option *ngFor="let opcion of subtipoAtractivo " >{{opcion}}</option>
                            </select>
                            <span class="help-block text-muted" *ngIf="frmRegistro.controls.subtipo.errors">
                                <small>
                                    <p class="text-danger">
                                        El campo es requerido
                                    </p>
                                </small>
                            </span>
                    </div>
       
                    
                    <div class="form-group">
                        <label>Dirección</label>
                        <input name="direccion" formControlName="direccion" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.direccion.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    
                    <div class="form-group">
                        <label>Permiso y restricciones</label>
                        <input name="permisos" formControlName="permisos" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.permisos.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Uso Actual</label>
                        <input name="usoActual" formControlName="usoActual" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.usoActual.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Impacto Positivo</label>
                        <input name="impactoPositivo" formControlName="impactoPositivo" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.impactoPositivo.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Impacto Negativo</label>
                        <input name="impactoNegativo" formControlName="impactoNegativo" class="form-control form-control-line" placeholder="" type="text">
                        <span class="help-block text-muted" *ngIf="frmRegistro.controls.impactoNegativo.errors">
                            <small>
                                <p class="text-danger">
                                    El campo es requerido
                                </p>
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" rows="5" name="descripcion" formControlName="descripcion"></textarea>
                        <span class="help-block text-muted">
                            <small>
                                <p class="text-danger" *ngIf="frmRegistro.controls.descripcion.errors">
                                    El campo es requerido y requiere un minimo 20 letras
                                </p>
                            </small>
                        </span>
                    </div>
                    <!-- ============================================= -->
                    <!--     Seccion de mapa                           -->
                    <!-- ============================================= -->
                    <div class="form-group">
                        <label>Posición</label>
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"  [zoomControl]="false" (mapClick)="mapClicked($event)">
                            <agm-marker (markerClick)="clickedMarker(markers.label)" [latitude]="markers.lat" [longitude]="markers.lng" [label]="markers.label"
                                [markerDraggable]="markers.draggable" (dragEnd)="markerDragEnd(m, $event)">
                                <agm-info-window>
                                    <strong>{{markers.lat}}</strong>
                                </agm-info-window>
                            </agm-marker>
                            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="true" [editable]="true">
                            </agm-circle>
                        </agm-map>  
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Longitud</label>
                                <input class="form-control" formControlName="longitud" type="number" step="0.0000001" [min]="-90"  [max]="90">
                                <span class="help-block text-muted" *ngIf="frmRegistro.controls.longitud.errors">
                                    <small>
                                        <p class="text-danger">
                                            El campo es requerido
                                        </p>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Latitud</label>
                                <input class="form-control" formControlName="latitud" type="number" step="0.0000001" [min]="-90"  [max]="90">
                                <span class="help-block text-muted" *ngIf="frmRegistro.controls.latitud.errors">
                                    <small>
                                        <p class="text-danger">
                                            El campo es requerido
                                        </p>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================= -->
                    <!--        Fin de mapa                            -->
                    <!-- ============================================= -->
                    <div class="form-group">
                        <label>Observaciones</label>
                        <input class="form-control form-control-line" name="observacion" formControlName="observacion" type="text">
                        <span class="help-block text-muted">
                            <small>
                                En este campo se pueden definir o detallar cosas que se deben considerar del atractivo.
                            </small>
                        </span>
                    </div>
                    <div class="form-group">
                            <label>Horario</label>
                          </div>
                          <div class="form-group">
                            <input class="filled-in" id="siempreAbierto" formControlName="siempreAbierto" type="checkbox">
                            <label for="siempreAbierto">Siempre abierto</label>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="lunesAbierto" formControlName="lunesAbierto" type="checkbox">
                              <label for="lunesAbierto">Lunes</label>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                Apertura <input class="form-control" formControlName="lunesHoraInicio" type="time">
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                Cierre <input class="form-control" formControlName="lunesHoraFinal" type="time">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="martesAbierto" formControlName="martesAbierto" type="checkbox">
                              <label for="martesAbierto">Martes</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="martesHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="martesHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="miercolesAbierto" formControlName="miercolesAbierto" type="checkbox">
                              <label for="miercolesAbierto">Miércoles</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="miercolesHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="miercolesHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="juevesAbierto" formControlName="juevesAbierto" type="checkbox">
                              <label for="juevesAbierto">Jueves</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="juevesHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="juevesHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="viernesAbierto" formControlName="viernesAbierto" type="checkbox">
                              <label for="viernesAbierto">Viernes</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="viernesHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="viernesHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="sabadoAbierto" formControlName="sabadoAbierto" type="checkbox">
                              <label for="sabadoAbierto">Sábado</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="sabadoHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="sabadoHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-2">
                              <input class="filled-in" id="domingoAbierto" formControlName="domingoAbierto" type="checkbox">
                              <label for="domingoAbierto">Domingo</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                  Apertura <input class="form-control" formControlName="domingoHoraInicio" type="time">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  Cierre <input class="form-control" formControlName="domingoHoraFinal" type="time">
                                </div>
                              </div>
                          </div>
                </form>
            </div>
        </div>
    </div>
        <!-- ============================================= -->
    <!--        Carga de imagenes existentes           -->
    <!-- ============================================= -->
    <!-- <div>
            <div class="col-12">
                <div class="card bg-light mb-3">
                    <div class="card-header bg-info">
                        <h4 class="m-b-0 text-white">Cronologia del atractivo
                                <button type="button"  style="float: right;" (click)="open(content)" class="btn btn-info btn-circle"  >
                                        <i class="ti-plus text" ></i>
                                    </button>

                        </h4>
                        
                    </div>
                    <div class="card-body">

                            <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Cras justo odio
                                      <div  class="btn-group ml-auto m-t-10" style="float: right;">
                                            <a  aria-expanded="false" aria-haspopup="true" class="icon-options-vertical link" data-toggle="dropdown" href="JavaScript:void(0)"></a>
                                            <div  class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                <a  class="dropdown-item" href="javascript:void(0)">Editar</a>
                                                <a  class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                    
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Dapibus ac facilisis in
                                      <div  class="btn-group ml-auto m-t-10" style="float: right;">
                                            <a  aria-expanded="false" aria-haspopup="true" class="icon-options-vertical link" data-toggle="dropdown" href="JavaScript:void(0)"></a>
                                            <div  class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                <a  class="dropdown-item" href="javascript:void(0)">Editar</a>
                                                <a  class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                    
                                            </div>
                                        </div>                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      Morbi leo risus
                                      <div  class="btn-group ml-auto m-t-10" style="float: right;">
                                            <a  aria-expanded="false" aria-haspopup="true" class="icon-options-vertical link" data-toggle="dropdown" href="JavaScript:void(0)"></a>
                                            <div  class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end">
                                                <a  class="dropdown-item" href="javascript:void(0)">Editar</a>
                                                <a  class="dropdown-item" href="javascript:void(0)">Eliminar</a>
                    
                                            </div>
                                        </div>                                    </li>
                                  </ul>
                        
                    </div>
                    
                </div>
            </div>
    </div> -->
    <!-- ============================================= -->
    <!--        Carga de imagenes existentes           -->
    <!-- ============================================= -->
    <div>
        <div class="col-12" *ngIf="modoedicion">
            <div class="card bg-light mb-3">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Imagenes almacenadas</h4>
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6" *ngFor="let img of atractivoEditable.galeria">
                        <!-- Card -->
                        <br>
                        <div class="card " >
                            <img class="card-img-top img-responsive img-atractivo " src="{{img.imagenURL}}" alt="Card image cap">
                            <div class="card-body">

                                    <div class="d-flex">
                                            <h4 class="card-title">
                                                <span class="lstick"></span>{{img.titulo}}</h4>
                                            <!-- <span class="badge badge-success">9</span> -->
                                            <div class="btn-group ml-auto m-t-10">
                                                <a href="JavaScript:void(0)" class="icon-options-vertical link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(16px, 32px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item" (click)="mostraModal(confirmacionBorrarModel, img)" href="javascript:void(0)">Editar</a>
                                                    <a class="dropdown-item" href="javascript:void(0)" (click)="eliminarImagenAtractivo(img.key, img.pathURL)">Eliminar</a>
                        
                                                </div>
                                            </div>
                                        </div>
                                        <pre>{{img.tipo}}</pre>
                                        <p class="card-text block-ellipsis">{{img.descripcion}}</p>
                                    


                    
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- ============================================= -->
    <!--        Card de imagenes                       -->
    <!-- ============================================= -->
    <div>
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Imagenes del atractivo</h4>
                </div>
                <div class="card-body">
                    <!-- ============================================= -->
                    <!--        Seccion de Imagenes                    -->
                    <!-- ============================================= -->
                    <form class="form-material m-t-40">
                        <div class="form-group" *ngIf="!spiner">
                            <label>Titulo de la imagen</label>
                            <input class="form-control form-control-line" placeholder="" [(ngModel)]="tituloImagen" name="tituloImagen" type="text">
                        </div>

                        <div class="form-group" *ngIf="!spiner">
                            <label>Tipo de la imagen</label>
                            <select class="form-control"  [(ngModel)]="tipoImagen" name="tipoImagen">
                                <option>Atractivo</option>
                                <option>Elemento del atractivo</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="!spiner">
                            <label>Descripcion de la imagen</label>
                            <input class="form-control form-control-line" placeholder="" [(ngModel)]="descripcionImagen" name="descripcionImagen" type="text">
                        </div>
                    </form>
                    <div *ngIf="!spiner">
                        <div class="form-group col-12">
                            <label class="custom-file col-12">
                                <input type="file" id="file" class="custom-file-input" (change)="selecionarArchivo($event.target.files)">
                                <span class="custom-file-control">{{labelImagen}}</span>
                            </label>
                        </div>
                        <br>
                        <div align="center" class="col-12">
                            <h4 class="card-title">Imagen del Atractivo</h4>
                            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 ">
                        </div>
                        <br>
                        <div class="form-group col-12" align="center">
                            <button type="button" *ngIf="imagenTemp" (click)="agregatImagentemp()" class="btn waves-effect waves-light btn-info col-4">Agregar</button>
                        </div>
                    </div>
                    <!-- Cards de Atractivos-->
                    <div class="row">
                        <!-- column -->
                        <div class="col-lg-3 col-md-6" *ngFor=" let imgTemp2 of imgTemporales ;let i = index; ">
                            <!-- Card -->
                            <div class="card" *ngIf="imgTemp2.progreso < 99">
                                <img class="card-img-top img-responsive img-atractivo" src="{{imgTemp2.imagenTemp}}" alt="Card image cap">
                                <div class="card-body" align="center">
                                    <h4 class="card-title">{{imgTemp2.titulo}}</h4>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="imgTemp2.progreso"
                                            aria-valuemin="0" aria-valuemax="100" [style.width]="imgTemp2.progreso +'%'"></div>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-primary" (click)="eliminarImagenTemporal(i)">Remover</button>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                        <!-- column -->
                    </div>
                    <!-- Fin de Cards de atractivos-->
                    <!-- ============================================= -->
                    <!--        Fin de Imagenes                        -->
                    <!-- ============================================= -->
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">Acciones</h4>
                </div>
                <div class="card-body" align="center">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" (click)="guardarAtractivo()">Guardar</button>
                            <button class="btn btn-danger" (click)="limpiarElementos()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================= -->
<!--        Modal                                  -->
<!-- ============================================= -->
<ng-template #confirmacionBorrarModel let-c="close('Close click')" let-d="dismiss('Cross click')">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modificar imagen del atractivo</h5>
            <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Titulo de la imagen</label>
                <input class="form-control form-control-line" placeholder="{{imagenaEditar.titulo}}" [(ngModel)]="tituloImagenenEdicion"
                    name="tituloImagen" type="text">
            </div>
            <div class="form-group" *ngIf="!spiner">
                <label>Tipo de la imagen</label>
                <select class="form-control"  [(ngModel)]="tipoImagenEdicion" name="tipoImagenEdicion">
                    <option>Atractivo</option>
                    <option>Elemento del atractivo</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!spiner">
                <label>Descripcion de la imagen</label>
                <input class="form-control form-control-line" placeholder="{{imagenaEditar.descripcion}}" [(ngModel)]="descripcionImagenEdicion" name="descripcionImagenEdicion" type="text">
            </div>
            <div class="form-group col-12">
                <label class="custom-file col-12">
                    <input type="file" id="file" class="custom-file-input" (change)="selecionarArchivo($event.target.files)">
                    <span class="custom-file-control">{{labelImagen}}</span>
                </label>
            </div>
            <div align="center" class="col-12">
                <h4 class="card-title" *ngIf="!imagenTemp">Imagen actual</h4>
                <h4 class="card-title" *ngIf="imagenTemp">Imagen nueva</h4>
                <img *ngIf="!imagenTemp" src="{{imagenaEditar.imagenURL}}" class="w150 ">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 ">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="editarImagen()">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
        </div>
    </div>
</ng-template>



