
<div class="col-12">
  <div class="card">
  <div class="card-body">
    <h4 class="card-title">Formulario para registrar un atractivo turistico</h4>
    <h6 class="card-subtitle">Cotopaxi - Latacunga</h6>
    <form class="form-material m-t-40">
        <div class="form-group">
            <label>Nombre del Atractivo</label>
            <input class="form-control form-control-line" placeholder="" type="text"> 
        </div>
        
        
        <div class="form-group">
            <label>Categoria</label>
            <select class="form-control">
                <option>Arquitectura</option>
                <option>Parque</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>
     
        <div class="form-group">
          <label class="custom-file col-12">
              <input type="file" id="file" class="custom-file-input">
              <span class="custom-file-control"></span>
          </label>
        </div>
        <div class="form-group">
                
            <agm-map 
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
            (mapClick)="mapClicked($event)">

            <agm-marker 
                
                (markerClick)="clickedMarker(markers.label)"
                [latitude]="markers.lat"
                [longitude]="markers.lng"
                [label]="markers.label"
                [markerDraggable]="markers.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                
            <agm-info-window>
                <strong>{{markers.lat}}</strong>
            </agm-info-window>
            
            </agm-marker>

            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
            </agm-circle>

            </agm-map>
        </div>
        <div class="form-group">
            <label>Observaciones</label>
            <input class="form-control form-control-line" type="text"> <span class="help-block text-muted"><small>A block of help text that breaks onto a new line and may extend beyond one line.</small></span> 
        </div>
    </form>
  </div>
</div>
</div>
                      